{% extends "shop/base.html" %}

{% block title %}
  Checkout
{% endblock %}

{% block content %}
  <h1>Checkout</h1>
  <div class="col-sm-4">
    <h2>Fill the form</h2>
    <form class="order-form" action="." method="post">
      {{ form.as_p }}
      {% csrf_token %}
      <input type="submit" value="Send">
    </form>
  </div>

  <div class="order-info col-sm-8">
    <h2>Your order</h2>
    <ul>
      {% for item in cart  %}
        <li>
          {{ item.product.name }} | Amount: {{ item.quantity }} | Price: {{ item.total_price }}
        </li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}